@charset "utf-8"; 

*{
     font-family: Arial, Helvetica, sans-serif;
     /*height: 100%;*/
    
}

body{

    background-image: linear-gradient(to right rgb(227, 127, 127), rgb(151, 89, 89));

}

main{

    
    background-color: rgb(17, 178, 162);
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2{ font: bold 1em 'work sans';

}
p {
    text-align:justify; color: aliceblue;
}